<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                
                <div class="p-profile">
                    
                </div>

                
            </div>
            <div class="col-sm-6" id="para">
        <span class="head">Software Developer</span>
                <h1 class="mt-2" style="color: darkorchid; text-decoration: underline;">Shivani Amrutkar</h1>
                <p class="pdesc mt-3">
                    Hello myself Shivani Amrutkar. Pursuing Masters in Computer Science.<br>
                    Currently I am doing internship at Polyscript Technologies.<br>
                    Working on Angular, MySQL, Ionic, Node.js.
                </p>

                <div class="carousel">
                <carousel [autoplay]="true" interval="20000" loop="true" margin="15" transitionTimingFunction="ease-in"
                 arrowsTheme="dark" cellsToShow="2" cellWidth="70%" width="450" dots="true">
                    <div class="carousel-cell">
                        <img src="assets/img/img0.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/img/img3.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/img/img5.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/img/img4.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/img/img2.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/img/img1.jpg">
                    </div>
                </carousel>
            </div>
            
            <div class="footer">
                <label>&copy; Copyright 2021 By Shivani Amrutkar <i class="fa fa-heart"></i></label>
            </div>

            </div>
        </div>
    </div>
</section>
</html>