<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="pdesc mt-4">
                <h2>Education</h2>
                <div>
                    <label>M.Sc (CS) (2019-2021) :</label>
                   Kaveri College Of Arts, Science & Commerce, Pune
                </div>

                <div>
                    <label>B.Sc (CS) (2015-2019) :</label>
                Kaveri College Of Arts, Science & Commerce, Pune with 52.05%
                </div>

                <div>
                    <label>XII<sup>th</sup> (2013-2015) :</label>
                    P. JOG Junior College, Pune with 52.15%
                </div>

                <div>
                    <label> X<sup>th</sup> (2013) :</label>
                     MIT English Medium School, Pune with 68.36%
                </div>
            <br>
                <h2>Achievements</h2>
                <ul>
                    <li>Core member of InterCollege Quiz Competition Organization team. </li>
                    <li>Created a part of website for college </li>
                    <li>Volunteer at "The Art Of Living Organisation."</li>
                    
                </ul>
            </div>
            <div class="footer">
                <label>&copy; Copyright 2021 By Shivani Amrutkar <i class="fa fa-heart"></i></label>
            </div>

        </div>
    </div>
</section>
</html>